.DisplayContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.OrgInfo {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.CategoryChipDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Chips {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.LanguageChipDiv {
  display: flex;
  justify-content: center;
}

.PaperContent {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
}
