.Container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Header {
  display: flex;
  width: 100%;
  align-items: center;
  align-items: flex-start;
  padding: 1rem;
}

.HeaderText {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.SignUp {
  padding: 3rem 8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #e3e8ee;
}
