.Container {
  background-color: pink;
  display: flex;
  width: 100%;
}

.Header {
  background-color: aqua;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
}

.HeaderText {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  /* width: 100%; */
  flex-direction: column;
  margin: 2rem;
}
