.Client {
  display: flex;
  flex-direction: column;
}

.Radios {
  display: flex;
}

.CommPrefs label,
.SignupType label {
  margin-right: var(--margin-std);
}

.CommPrefs input,
.SignupType input {
  margin-left: 0;
  margin-right: 0;
}
