.DisplayMap {
  padding: var(--pad-std);
  flex: 1;
  width: 100%;
}

.SearchPageSize {
  height: var(--screen-minus-header);
}

.OrgPageSize {
  height: 30rem;
}

.MapBox {
  border-radius: var(--radius-small);
}
