.DisplayMap {
  position: relative;
  flex: 1;
  width: 100%;
  height: var(--screen-minus-header) !important;
}

@media (max-width: 700px) {
  .DisplayMap {
    padding: 0 calc(var(--pad-lg) + var(--pad-sm));
  }
}
