.DisplayMap {
  position: relative;
  flex: 1;
  width: 48%;
  height: var(--screen-minus-header) !important;
}
.DisplayMapMobile {
  display: none;
}
@media (max-width: 1275px) {
  .DisplayMap {
    display: none;
  }
}
@media (max-width: 1275px) {
  .DisplayMapMobile {
    width: 100%;
    padding: 0 calc(var(--pad-lg) + var(--pad-sm));
    margin-left: 1.5rem;
    display: contents;
  }
}
