.Footer {
  background-color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  padding: 0 3rem 3rem 3rem;
  flex: 1;
}

.Footer * {
  color: var(--light-grey);
}

.ThriveLogo {
  width: 18rem;
  margin-left: 3rem;
}

.SubMenuItem {
  word-wrap: break-word;
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  justify-content: flex-start;
  margin: var(--margin-std) var(--margin-std) 0 var(--margin-std);
  border-bottom: 0.25rem solid transparent;
}
.Title {
  word-wrap: break-word;
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  margin: 0 var(--margin-std);
  border-bottom: 0.25rem solid transparent;
}
.ButtonTitle {
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  border-bottom: 0.25rem solid transparent;
}

.GridRight {
  display: flex;
  flex-direction: column;
  text-align: right !important;
  max-width: 30.833%;
  padding-bottom: var(--pad-std);
  flex-basis: 30.33% !important;
}

.ButtonStyle {
  margin-left: 3rem !important;
}
.Title,
.ThriveLogo,
.SubMenuItem {
  cursor: pointer;
}

.Margins {
  margin: 1rem 0 1rem 0;
}

.Title:hover,
.SubMenuItem:hover {
  border-bottom: 0.25rem solid var(--green);
}

@media (max-width: 1275px) {
  .Footer {
    padding: 0 2rem 4rem 2rem;
  }
}

@media (max-width: 950px) {
  .Footer {
    text-align: center !important;
    display: block !important;
    height: auto !important;
  }
  .ButtonTitle {
    color: var(--light);
    font-size: var(--med-text);
    font-weight: 100;
    margin: auto !important;
    border-bottom: 0.25rem solid transparent;
    cursor: pointer;
  }
  .ThriveLogo {
    text-align: center !important;
    margin-left: 0;
  }

  .GridRight {
    text-align: center !important;
    max-width: 95%;
    padding: 0 3rem 2rem 3rem;
  }

  .Margins {
    margin: 0.5rem 0 0.5rem 0;
  }
  .Title {
    text-align: center;
  }
  .ButtonStyle {
    margin: auto !important;
  }
}
