.Footer {
  background-color: var(--primary);
  display: flex;
  padding-bottom: 3rem;
}
.Footer * {
  color: var(--light-grey);
}
.ThriveLogo {
  width: 18rem;
}

.SubMenuItem {
  word-wrap: break-word;
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  justify-content: flex-start;
  margin: 0 var(--margin-std);
  border-bottom: 0.25rem solid transparent;
}
.Title {
  word-wrap: break-word;
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  margin: 0 var(--margin-std);
  border-bottom: 0.25rem solid transparent;
  white-space: nowrap !important;
}
.TitleWrap {
  word-wrap: break-word;
  color: var(--light);
  font-size: var(--med-text);
  display: block;
  width: auto;
  font-weight: 100;
  margin: 0 var(--margin-std);
  border-bottom: 0.25rem solid transparent;
  white-space: nowrap !important;
}

.Button {
  text-transform: inherit !important;
  line-height: inherit !important;
  padding: 0 !important;
  margin: auto !important;
  display: block !important;
  margin-left: 9rem !important;
}
.ButtonTitle {
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  border-bottom: 0.25rem solid transparent;
  white-space: nowrap !important;
  width: 10rem !important;
  margin: 0 var(--margin-std);
  text-align: left;
}
.ButtonTitleNoHover {
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  border-bottom: 0.25rem solid transparent;
  white-space: nowrap !important;
  width: 12rem;
  margin: 0 var(--margin-std);
  text-align: left;
}

.DisplayInline {
  display: inline-flex;
}
.Grid {
  display: inline-flex !important;
  margin-top: 3rem !important;
  margin-left: 3rem !important;
  max-width: 19.33%;
}
.GridRight {
  /* display: flex;
  flex-direction: column; */
  text-align: right !important;
  max-width: 30.833%;
  margin-top: 0 !important;
  flex-basis: 30.33% !important;
}
.About {
  display: inline-flex !important;
  margin-top: -3.2rem;
  margin-left: 7rem !important;
  margin-right: 4rem !important;
}
.ButtonStyle {
  margin-left: 3rem !important;
}
.Title,
.ThriveLogo,
.SubMenuItem {
  cursor: pointer;
}

.Margins {
  margin: 1rem 0 0 0;

  word-break: break-word;
}

.Title:hover,
.ButtonTitle:hover,
.TitleWrap:hover,
.SubMenuItem:hover {
  border-bottom: 0.25rem solid var(--green) !important;
}

@media (max-width: 1275px) {
  .Footer {
    margin-bottom: 4rem;
    padding-bottom: 0;
  }
  .About {
    margin-left: 7rem !important;
  }
  .GridRight {
    padding-bottom: 2rem;
  }
  .ButtonStyle {
    margin-left: 3rem !important;
  }
  .DisplayInline {
    display: block;
  }
  .Title {
    word-wrap: break-word !important;
    white-space: normal !important;
  }
  .TitleWrap {
    white-space: normal !important;
    display: flex;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    text-align: left !important;
  }
}

@media (max-width: 950px) {
  .Footer {
    text-align: center !important;
    display: inline-flex !important;
    height: auto !important;
    margin: auto !important;
    margin-bottom: 4rem !important;
  }
  .ButtonTitle {
    color: var(--light);
    font-size: var(--med-text);
    font-weight: 100;
    margin: auto !important;
    border-bottom: 0.25rem solid transparent;
    cursor: pointer;
  }
  .ThriveLogo {
    text-align: center !important;
    margin-left: 0;
  }
  .Grid {
    display: block !important;
    text-align: center !important;
    margin-left: 5rem !important;
    margin-top: 1rem !important;
    max-width: 79.33% !important;
  }

  .About {
    display: block !important;
    text-align: center !important;
    margin-right: 3rem;
    margin-top: -0.8rem;
    margin-left: 1.6rem !important;
  }

  .GridRight {
    text-align: center !important;
    max-width: 95%;
    margin: auto !important;
    margin-bottom: 0 !important;
    padding-bottom: 1rem;
    margin-top: 1rem !important;
  }

  .Margins {
    margin: 0.5rem 0 0 0;
  }
  .Title {
    text-align: center;
    padding-top: 1rem;
    white-space: initial !important;
  }
  .ButtonStyle {
    margin: auto !important;
  }
}
@media (max-width: 600px) {
  .Grid {
    margin-left: 3rem !important;
  }
  .About {
    margin-left: 2rem;
  }
}
