.GlobalSearchResult {
  padding: var(--pad-sm) 0;
  border-top: var(--border-width) solid var(--light-2);
  outline: none;
  cursor: pointer;
}

.GlobalSearchResult:hover > p {
  color: var(--highlight);
}

.SingleSearchTerm {
  color: var(--highlight);
  text-transform: capitalize;
}
