.Header {
  width: 100%;
  height: var(--header-size);
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
}

.HeaderContainer {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.ThriveLogo {
  width: 15rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.Nav {
  display: inherit;
  justify-content: center;
}

.NavContainer {
  width: 75%;
  display: inherit;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.Separators {
  font-weight: 100;
}

.Burger {
  display: none;
}

.SearchIcon {
  margin-left: 5rem;
  margin-top: 0.5rem;
  color: white;
  font-size: 3rem;
}

.Title {
  word-wrap: break-word;
  color: var(--light);
  white-space: nowrap;
  font-size: var(--med-text);
  font-weight: 100;
  margin: 0 var(--margin-std);
  border-bottom: 0.25rem solid transparent;
}

.Favorites {
  position: absolute;
  right: 1.5rem;
  color: white;
  cursor: pointer;
}

.Tagline {
  word-wrap: break-word;
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  margin: 0 var(--margin-std);
  border-bottom: 0.25rem solid transparent;
  position: absolute;
  top: 8.7rem;
  right: 2.3rem;
  display: 'block';
}

.SubMenuItem {
  word-wrap: break-word;
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  margin: 0 var(--margin-std);
  border-bottom: 0.25rem solid transparent;
}

.MuiMenu-list {
  padding-top: 0;
  padding-bottom: 0;
  color: pink;
}

.MuiMenuItem-root {
  border-bottom: 0.25rem solid var(--green) !important;
}

.Title,
.ThriveLogo {
  cursor: pointer;
}

.Title:hover {
  border-bottom: 0.25rem solid var(--green);
}

.SubMenuItem:hover {
  border-bottom: 0.25rem solid var(--green);
}

@media (max-width: 1400px) {
  .SearchIcon {
    margin-left: 1rem;
    margin-top: 5rem;
    color: white;
    font-size: 3rem;
  }
}

@media (max-width: 1275px) {
  .ThriveLogo {
    width: 12rem;
  }

  .Burger {
    display: visible;
  }

  .Title,
  .Separators {
    display: none;
  }

  .DataSearch {
    display: none;
  }

  .Favorites {
    top: 7rem;
  }
}
