.Header {
  width: 100%;
  height: var(--header-size);
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
}
.HeaderContainer {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.ThriveLogo {
  width: 18rem;
}

.Nav {
  display: inherit;
  justify-content: center;
  flex: 1;
}

.NavContainer {
  min-width: 60%;
  display: inherit;
  justify-content: space-between;
  align-items: center;
}

.Separators {
  font-weight: 100;
}

.Burger {
  display: none;
}
.Title {
  word-wrap: break-word;
  color: var(--light);
  font-size: var(--med-text);
  font-weight: 100;
  cursor: pointer;
  margin: 0 var(--margin-std);
}
@media (max-width: 700px) {
  .ThriveLogo {
    width: 15rem;
  }

  .Burger {
    display: visible;
  }

  .Title,
  .Separators {
    display: none;
  }
}
