.Header {
  width: 100%;
  height: var(--header-size);
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  border-bottom: var(--border-width) solid var(--light-2);
}

.HeaderContainer {
  width: 90%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto min-content;
  grid-template-areas: 'freshstart . search';
}

.FreshStart {
  grid-area: freshstart;
  width: 18rem;
}

.Search {
  grid-area: search;
}

@media (max-width: 500px) {
  .FreshStart {
    grid-area: freshstart;
    width: 15rem;
  }
}
