.Main {
  position: relative;
  width: 100%;
  height: 50rem;
  background-color: var(--light-blue);
  display: flex;
  overflow: hidden;
  background-image: url('/images/maja_bg.jpg');
  background-size: cover;
  align-content: center;
}

.Article {
  width: 100%;
  background-color: rgb(0 0 0 / 35%);
  margin: 4rem;
}

.About {
  background-color: white;
}
/* .BGPic {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.Article {
  width: 50%;
  height: 100%;
  padding: 3rem;
  display: inherit;
  flex-direction: column;
}

.Backing {
  padding: 0;
  width: 100%;
  background-color: transparent;
}

.Backing > *:not(.About) {
  margin-top: var(--margin-std);
}

.About {
  text-transform: uppercase;
}

.Paragraph {
  font-size: var(--med-text);
}

@media (max-width: 700px) {
  .BGPic {
    width: 100%;
    height: 60rem;
  }

  .Main {
    flex-direction: column;
  }

  .Article {
    width: 100%;
    margin-top: -60rem;
  }

  .Backing {
    padding: var(--pad-lg);
    background-color: var(--light-transparent);
  }

  .Paragraph {
    font-size: var(--standard-text);
  }
} */
