.Main {
  position: relative;
  width: 100%;
  height: 80rem;
  background-color: var(--light-blue);
  display: flex;
  overflow: hidden;
  background-image: url('/images/maja_bg.jpg');
  background-size: cover;
  align-content: center;
}

.Article {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255 255 255 / 80%);
  margin: 4rem;
  padding: 4rem;
  align-items: center;
}

.Title {
  color: var(--primary);
  font-weight: 500;
  text-align: center;
  font-size: 6rem;
  margin-bottom: 2rem;
}

.Paragraph {
  color: var(--primary);
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.tileContainer {
  width: 80%;
  height: inherit;
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
}

.singleTileHolder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
  text-align: cener;
}

.singleTileHolder > :hover .imgBg,
.singleTileHolder > :active .imgBg {
  background-color: var(--green);
  animation: bounce 0.35s;
}

.link {
  background-color: var(--primary);
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  width: 14rem;
  height: 100%;
}

.imgBg {
  padding: var(--pad-std);
  margin: 0 1rem;
}

.image {
  width: 12rem;
  height: 10rem;
}

.categoryTitle {
  color: var(--light);
  margin-top: var(--margin-std);
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  font-size: small;
  word-break: normal;
}

@media (max-width: 1440px) {
  .Main {
    height: 80rem;
  }
}

@media (max-width: 1024px) {
  .tileContainer {
    width: 90%;
  }

  .Main {
    height: 85rem;
  }

  .link {
    width: 10rem;
  }

  .image {
    width: 10rem;
    height: 8rem;
  }
}

@media (max-width: 768px) {
  .tileContainer {
    width: 100%;
  }

  .Main {
    height: 110rem;
  }

  .link {
    width: 12rem;
  }

  .image {
    width: 12rem;
    height: 8rem;
  }
}

@media (max-width: 500px) {
  .tileContainer {
    width: 100%;
    margin: 0rem;
  }

  .Title {
    font-size: 3rem;
  }

  .Article {
    padding: 2rem;
    margin: 2rem;
  }

  .link {
    width: 10rem;
  }

  .image {
    width: 8rem;
    height: 6rem;
  }

  .Main {
    height: 125rem;
  }
}
