.LangSwitcher {
  padding: var(--pad-sm) var(--pad-std);
  position: absolute;
  left: 50%;
  display: flex;
  cursor: pointer;
  background-color: var(--light-2);
  color: var(--light);
  font-size: var(--med-text);
  user-select: none;
  transform: translateX(-50%);
}

.label {
  transition: 0.4s;
  font-weight: 100;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  margin: 0 var(--margin-sm);
  width: 3rem;
  height: 1.75rem;
  border: 0.25rem solid var(--secondary);
  background-color: var(--secondary);
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--light);
  transition: 0.4s;
}

.input:checked + .slider::before {
  transform: translateX(1.25rem);
}
