.LetUsHelpContainer {
  margin: 0 auto;
  width: 70%;
  padding-top: 4rem;

  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
}

@media (max-width: 700px) {
  .LetUsHelpContainer {
    padding-top: var(--pad-lg);
  }
}

@media (max-width: 500px) {
  .LetUsHelpContainer {
    width: 100%;
  }
}
