.LetUsHelpTiles {
  width: 100%;
  text-align: center;
}

.TileRow {
  width: inherit;
  padding: var(--pad-lg) 0;
  display: flex;
  justify-content: space-evenly;
}

.Tile {
  text-align: center;
  width: 30%;
  border-radius: var(--radius-medium);
  background-color: var(--light);
  padding-bottom: var(--pad-lg);
  cursor: pointer;
}

.Tile:hover,
.Tile:active {
  background-color: var(--green);
}

.Tile:hover p,
.Tile:active p {
  color: var(--light);
}

.Image {
  width: 100%;
  max-width: 15rem;
  height: auto;
}
