.LiveDataSearch {
  width: 20rem;
  display: flex;
  align-items: center;
  border: var(--border-width) solid var(--primary);
  border-radius: var(--radius-small);
  padding: var(--pad-sm) var(--pad-lg);
}

.Input {
  border: none;
  flex: 1;
  margin: 0;
}

.SearchIcon {
  margin: 0 var(--margin-std) 0 0;
  user-select: none;
}
