.LiveDataSearch {
  position: absolute;
  right: 0;
  background-color: var(--light);
  width: max(40%, 30rem);
  border: var(--border-width) solid var(--primary);
  border-radius: var(--radius-small);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.SearchContainer {
  width: 100%;
  padding: 0 var(--pad-lg);
  display: inherit;
  align-items: center;
}

.Input {
  border: none !important;
  flex: 1;
  margin: 0;
}

.SearchIcon {
  margin: 0 var(--margin-sm);
  user-select: none;
}

.ResultsContainer {
  list-style-type: none;
  width: 100%;
  max-height: 40rem;
  overflow: scroll;
}

.Label {
  opacity: 0;
  width: 0;
  height: 0;
}

@media (max-width: 500px) {
  .LiveDataSearch {
    width: 100%;
  }
}
