.LiveDataSearch {
  position: absolute;
  right: 7.5rem;
  top: 5rem;
  background-color: var(--light);
  width: 20%;
  border: var(--border-width) solid var(--primary);
  border-radius: var(--radius-small);
  z-index: 9;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.SearchContainer {
  display: flex;
  width: 100%;
}
.SearchForm {
  width: inherit;
  display: inherit;
  align-items: center;
  padding-right: var(--pad-lg);
}
.Input {
  border: none !important;
  flex: 1;
  margin: 0;
}
.SearchIcon {
  margin: 0 var(--margin-sm);
  user-select: none;
}
.ResultsContainer {
  list-style-type: none;
  padding: 0 var(--pad-lg);
  width: 100%;
  display: block;
  max-height: 40rem;
  overflow: auto;
}
.Label {
  opacity: 0;
  width: 0;
  height: 0;
}
@media (max-width: 1275px) {
  .LiveDataSearch {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 100%;
    height: 3.6rem;
  }
  .ResultsContainer {
    list-style-type: none;
    padding: 0 var(--pad-lg);
    width: 100%;
    position: fixed;
    bottom: 8.7%;
    top: auto;
    max-height: 30rem;
    background-color: white;
  }
}
