.LocationRecordDisplay {
  padding: var(--pad-lg);
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 100;
}

.subHeading {
  margin: var(--margin-sm) 0;
  font-weight: bold;
  text-align: start;
}
