.LocationRecordDisplay {
  padding: var(--pad-lg);
  display: flex;
  flex-direction: column;
}

.LocationRecordDisplay > * {
  margin-bottom: var(--pad-lg);
}

.heading {
  font-weight: 100;
}

.heading,
.Link,
.Notes {
  text-align: center;
}

.Link {
  margin-top: var(--margin-sm);
}
