.OrgRecordDisplay {
  overflow: scroll;
  height: var(--screen-minus-header);
  flex: 1;
  padding-top: 3rem;
}

.listing {
  cursor: auto;
}

.listing > :not(summary) {
  margin: 0 0 var(--margin-std) 0;
  text-align: center;
}

@media (max-width: 700px) {
  .OrgRecordDisplay {
    padding-top: 0;
  }

  .DisplayTitle {
    margin-top: 0.5rem !important;
  }
}
