.OrgRecordDisplay {
  overflow: scroll;
  height: var(--screen-minus-header);
  flex: 1;
  padding: var(--pad-std);
}

.heading {
  font-weight: 400;
  font-size: var(--large-text);
}

.listing {
  cursor: auto;
}

.listing > * {
  margin: 0 0 var(--margin-std) 0;
}

.listing > :not(summary) {
  text-align: center;
}
