.OrgRecordDisplay {
  overflow: scroll;
  height: var(--screen-minus-header);
  width: 33%;
  padding: var(--pad-sm) var(--pad-lg);
}

.listing > :not(summary) {
  margin-bottom: var(--margin-lg);
  text-align: start;
}

.LocationHeading {
  margin: var(--margin-lg) 0;
}

@media (max-width: 1275px) {
  .OrgRecordDisplay {
    width: 100%;
    height: auto;
  }

  .DisplayTitle {
    margin-top: 0.5rem !important;
  }

  .LocationHeading {
    display: none;
  }
}
