.PDFViewer {
  border-top: 2rem solid #323639;
}

.DisplayWarning {
  padding: 1rem;
}

.DisplayWarning a {
  word-break: keep-all;
}

@media (max-width: 700px) {
  .PDFViewer {
    border-top: none;
  }
}
