.RecordPane {
  align-self: flex-start;
  padding: var(--pad-std);
  display: flex;
  flex-direction: column;
  height: var(--screen-minus-header);
  text-align: center;
}

.infoPage {
  width: 33%;
  overflow: scroll;
  margin: none;
}

@media (max-width: 700px) {
  .infoPage {
    display: none;
  }
}
