.ResourceHub {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* background-image: url('/images/maja_bg.jpg'); */
  background-size: cover;
}

.ResourceHub::before {
  content: '';
  background-image: url('/images/maja_bg.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}

.tileContainer {
  width: 70%;
  height: inherit;
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}

.singleTileHolder {
  /* width: 25%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
  text-align: cener;
}

.link {
  background-color: var(--primary);
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  width: 10rem;
  height: 100%;
}

.image {
  width: 8rem;
  height: 8rem;
}

.imgBg {
  /* background-color: var(--primary); */
  /* border-radius: 50%; */
  padding: var(--pad-std);
  margin: 0 1rem;
  z-index: 3;
}

.text {
  margin-bottom: var(--margin-lg);
  text-align: center;
  position: relative;
  z-index: 4;
}

.categoryTitle {
  /* font-size: var(--med-text); */
  color: var(--light);
  margin-top: var(--margin-std);
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  font-size: small;
}

.singleTileHolder > :hover .imgBg,
.singleTileHolder > :active .imgBg {
  background-color: var(--green);
  animation: bounce 0.35s;
}

.PageTitle {
  position: relative;
  font-size: 65rem;
  color: black;
  z-index: 3;
  margin-top: 5rem;
  font-weight: 500;
}

@media (max-width: 800px) {
  .tileContainer {
    width: 90%;
  }

  .singleTileHolder {
    width: 33%;
  }

  .image {
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: 500px) {
  .tileContainer {
    width: 100%;
  }

  .categoryTitle {
    font-size: var(--standard-text);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
