.ScheduleRecordDisplay {
  width: max-content;
  margin: var(--margin-std) auto;
  border-bottom: var(--border-width) solid var(--black);
}

.ScheduleRecordDisplay > * {
  margin: var(--margin-sm) auto;
}
