.ScheduleRecordDisplay {
  width: 100%;
  margin: var(--margin-std) auto;
  border-bottom: var(--border-width) solid var(--light-text);
}

.ScheduleRecordDisplay > * {
  margin: var(--margin-sm) auto;
}
