.SearchTermsMarquee {
  width: 100%;
  position: absolute;
  background-color: var(--light);
  box-shadow: -0.75rem 0.3rem 0.4rem var(--light);
  z-index: 5;
}

.Tags {
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--highlight);
}

.Scroll {
  animation: marquee 10s linear infinite;
  animation-direction: alternate;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}
@media (max-width: 900px) {
  .SearchTermsMarquee {
    top: -0.7%;
    bottom: auto;
    background-color: #12385e;
    position: sticky;
    height: 4.2rem;
    margin-left: -1rem;
    margin-bottom: 1rem;
    width: 109%;
    z-index: 5;
  }

  .Tags {
    color: white;
    margin-left: 0.4rem;
  }
}
