.SendText {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.Label {
  opacity: 0;
  width: 0;
  height: 0;
}

.Input {
  width: 100%;
  padding: var(--pad-std) 0;
  flex: 1;
}
