.SendText {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: var(--margin-std);
}

.Label {
  opacity: 0;
  width: 0;
  height: 0;
}

.Input {
  width: 100%;
  padding: var(--pad-std) 0;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
}
