.Container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LeftHeader {
  flex: 1;
  height: 600px;
  background: url('/images/pictures.jpg') center;
  background-size: cover;
  margin: 0rem -10rem 0rem 0rem;
  /* background: url('/images/pictures.jpg') no-repeat center / cover; */
}

.RightHeader {
  flex: 1;
  background-color: #e3e8ee;
  padding: 3rem;
  /* margin: -; */
}

.Title {
  display: flex;
  justify-content: left;
  background-color: #e3e8ee;
  padding: 2rem 0rem 2rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.HeaderTxt {
  color: black;
  font-weight: bold;
}

.Branches {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 2rem;
}

.AboutProg {
  display: flex;
}

.LeftAboutProg {
  width: 50%;
  height: 500px;
  background: url('/images/policeCar.jpg') center;
  background-size: cover;
}

.StabalizationPic {
  width: 50%;
  height: 500px;
  background: url('/images/rehabHands.jpg') center;
  background-size: cover;
}

.PrePostDiversion {
  width: 50%;
  height: 500px;
  background: url('/images/library.jpg') center;
  background-size: cover;
}

.Stepdown {
  width: 50%;
  height: 500px;
  background: url('/images/house.jpg') center;
  background-size: cover;
}

.RigthAboutProg {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.Tile {
  text-align: center;
  width: 30%;
  border-radius: var(--radius-medium);
  background-color: var(--light);
  padding-bottom: var(--pad-lg);
  cursor: pointer;
  flex-direction: column;
}

.Blue {
  display: flex;
  background-color: #e3e8ee;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* padding: 2rem; */
}

.White {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.White .LeftInfoBox {
  background-color: #e3e8ee;
}

.White .RightInfoBox {
  background-color: #e3e8ee;
}

.InfoBox {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0rem;
}

.LeftInfoBox {
  display: flex;
  flex: 1;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
  align-items: space-between;
  justify-content: center;
}

.LeftInfoBoxText {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
}

.RightInfoBox {
  display: flex;
  flex: 1;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
  align-items: space-between;
  justify-content: center;
}

.ListIcon {
  width: 12rem;
}

.RightInfoBoxText {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  align-items: center;
}

@media (max-width: 700px) {
  .Programs {
    flex-direction: column;
    align-items: center;
  }

  .Branches {
    flex-direction: column;
    align-items: center;
  }
  .Tile {
    width: 100%;
  }

  .InfoBox {
    flex-direction: column;
    align-items: center;
  }

  .Header {
    flex-direction: column;
  }

  .LeftHeader {
    width: 100%;
    height: 500px;
    margin: 0rem;
  }

  .RightHeader {
    width: 100%;
  }

  .AboutProg {
    flex-direction: column;
    width: 100%;
  }

  .LeftAboutProg {
    width: 100%;
  }

  .RigthAboutProg {
    width: 100%;
  }

  .White .AboutProg {
    flex-direction: column-reverse;
  }

  .StabalizationPic {
    width: 100%;
  }

  .PrePostDiversion {
    width: 100%;
  }

  .Stepdown {
    width: 100%;
  }

  .LeftInfoBox {
    flex-direction: column;
  }

  .RightInfoBox {
    flex-direction: column;
  }
}
