.Container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.Header {
  position: relative;
  height: 45rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header::before {
  content: '';
  background-image: url('/images/Jill-Stanton.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}

.HeaderText {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  position: relative;
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-family: Roboto, sans-serif;
}

.About {
  display: flex;
  justify-content: center;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
}

.Programs {
  display: flex;
  justify-content: space-evenly;
}

.Image {
  width: 13rem;
  height: 13rem;
}

.Tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e8ee;
  padding: 3rem;
  width: 20rem;
}

.WhatIsTitle {
  font-size: 6rem;
}

.DiversionInfo {
  font-size: 2rem;
}

.Modal {
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

@media (max-width: 700px) {
  .HeaderText {
    font-size: 8rem;
  }

  .Header {
    height: 15rem;
  }

  .WhatIsTitle {
    font-size: 3.5rem;
  }

  .DiversionInfo {
    font-size: 2.5rem;
  }

  .Programs {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .HeaderText {
    font-size: 6rem;
  }

  .Header {
    height: 15rem;
  }

  .WhatIsTitle {
    font-size: 2.5rem;
  }

  .DiversionInfo {
    font-size: 1.5rem;
  }

  .Programs {
    flex-direction: column;
    align-items: center;
  }
}
