.Button {
  min-height: 2.5rem;
  border: none;
  background-color: var(--primary);
  border-radius: var(--radius-small);
  cursor: pointer;
  outline: none;
}

.ButtonText {
  margin: 0.5rem;
  font-size: var(--med-text);
  color: var(--white);
}

.Button:active {
  background-color: var(--white);
  border: solid var(--border-width) var(--highlight);
}

.Button:active > .ButtonText {
  color: var(--highlight);
}
