.Card {
  margin: 0.5rem 0;
  border-radius: var(--radius-small);
  padding: var(--pad-lg) 0;
  text-align: start;
}

.border {
  border: var(--border-width) solid var(--primary);
}

.active {
  display: auto;
}

.active:hover,
.active:active {
  cursor: pointer;
  background-color: var(--primary);
}

.active:hover *,
.active:active * {
  color: var(--light) !important;
}
