.IconTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  font-size: var(--med-heading);
  border-radius: var(--radius-medium);
  padding: 1rem 0;
  text-align: center;
  border: var(--border-width) solid transparent;
}

.IconTile:hover,
.IconTile:active {
  background-color: var(--blue);
}

.IconTile:hover > a,
.IconTile:active > a {
  color: var(--white);
}

.Link {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}

.Icon {
  width: 15rem;
  height: 15rem;
}

@media (max-width: 500px) {
  .IconTile {
    width: 30%;
    margin: 0.25rem 0 0 0;
    font-size: var(--standard-text);
  }

  .Icon {
    width: 8rem;
    height: 8rem;
  }
}
