.Input {
  outline: none;
  border: var(--border-width) solid var(--primary);
  border-radius: var(--radius-small);
  margin: var(--margin-std) var(--margin-sm);
  font-size: var(--med-text);
  min-width: 3rem;
}
