.RecordListing {
  width: 100%;
  margin: 0.5rem 0;
  font-size: var(--med-heading);
  border-radius: var(--radius-small);
  padding: var(--pad-lg);
  text-align: center;
  cursor: pointer;
}

.border {
  border: var(--border-width) solid var(--primary);
}

.active {
  display: initial;
}

.active:hover,
.active:active {
  background-color: var(--primary);
  color: var(--white);
}
