*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 87.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--dark);
}

main {
  width: 100%;
  min-height: var(--screen-minus-header);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.MuiList-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.MuiButton-text {
  padding: 0 !important;
  margin-top: -0.2rem !important;
}
.MuiListItem-gutters {
  padding-left: 0 !important;
}
.MuiMenuItem-root {
  padding-top: 0 !important;
}
a {
  text-decoration: none !important;
  color: var(--dark);
  word-break: break-all;
}

a:not(.not-text-link) {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  color: var(--dark);
}

@media (max-width: 700px) {
  main {
    flex-direction: column;
    justify-content: flex-start;
  }
}
