:root {
  /* Color Variables */
  --white: #fff;
  --text: #292929;
  --primary: #12385e;
  --secondary: #4c7fa1;
  --highlight: #005ea2;
  --light-text: #e5e5e5;
  --highlight-2: #cd7f32;
  --deselected: #7e7e7e;

  /* Spacing Variables */
  --radius-small: 0.25rem;
  --radius-medium: 1rem;
  --border-width: 0.1rem;
  --margin-sm: 0.5rem;
  --margin-std: 1rem;
  --pad-sm: 0.25rem;
  --pad-std: 0.5rem;
  --pad-lg: 1rem;
  --screen-minus-header: calc(100vh - 10rem);

  /* Text Variables */
  --standard-text: 1rem;
  --med-heading: 1.3rem;
  --large-text: 1.6rem;
  --xlrg-text: 2rem;
}
