:root {
  /* Color Variables */
  --white: #fff;
  --black: #000;
  --blue: #005ea2;
  --grey: #6d777e;

  /* Spacing Variables */
  --radius-small: 0.25rem;
  --radius-medium: 1rem;
  --border-width: 0.1rem;
  --margin-std: 1rem;

  /* Text Variables */
  --standard-text: 1rem;
  --med-heading: 1.3rem;
  --large-text: 1.6rem;
}
