:root {
  /* Color Variables */
  --light: #fff;
  --dark: #292929;
  --primary: #12385e;
  --secondary: #4c7fa1;
  --highlight: #005ea2;
  --light-2: #e5e5e5;
  --light-blue: #e3e8ee;
  --highlight-2: #cd7f32;
  --deselected: #7e7e7e;
  --med-grey: #b0b0b0;

  /* Spacing Variables */
  --radius-small: 0.25rem;
  --radius-medium: 1rem;
  --border-width: 0.1rem;
  --border-width-lg: 0.5rem;
  --margin-sm: 0.5rem;
  --margin-std: 1rem;
  --margin-lg: 1.7rem;
  --pad-sm: 0.25rem;
  --pad-std: 0.5rem;
  --pad-lg: 1rem;
  --header-size: 7rem;
  --screen-minus-header: calc(100vh - var(--header-size));

  /* Text Variables */
  --standard-text: 1rem;
  --med-text: 1.3rem;
  --heading-text: 2rem;
  --large-text: 3rem;
}
